@charset "utf-8";

a,a:hover {
    text-decoration: underline
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: 400;
    vertical-align: baseline
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: "Hiragino Maru Gothic ProN";
}

strong,strong span {
    font-weight: 700
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

html {
    overflow-y: auto;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    font-family: Arial,Helvetica,sans-serif,"Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo;
    color: #000
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

blockquote,q {
    quotes: none
}

a:focus {
    outline: dotted .1rem
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

button,input[type=text],input[type=email],input[type=submit],input[type=button],input[type=tel],input[type=search],input[type=password] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    font-family: Arial,Helvetica,sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
    border: 1px solid #c7c7c7
}

select {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem
}

button,input[type=checkbox],input[type=submit],input[type=button],input[type=radio],label,select {
    cursor: pointer
}

@media (max-width: 1024px) {
    button,input[type=text],input[type=email],input[type=submit],input[type=button],input[type=tel],input[type=search],input[type=password],select {
        font-size:16px;
        font-size: 1.6rem
    }
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    word-wrap: break-word;
    word-break: break-all
}

caption,th {
    text-align: left
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
    border: 0
}

html.ja body {
    font-family: "���C���I",Meiryo,Droid Sans,Roboto,HiraKakuProN-W3,HiraKakuPro-W3,"�q���M�m�p�S ProN W3","�q���M�m�p�S Pro W3","�q���M�m�p�S Pro W3","Hiragino Kaku Gothic ProN","Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","�l�r �o�S�V�b�N","MS PGothic",Helvetica,sans-serif
}

html.ja input[type=text],html.ja input[type=email],html.ja input[type=submit],html.ja input[type=tel],html.ja input[type=search],html.ja input[type=password] {
    font-family: "���C���I",Meiryo,Droid Sans,Roboto,HiraKakuProN-W3,HiraKakuPro-W3,"�q���M�m�p�S ProN W3","�q���M�m�p�S Pro W3","�q���M�m�p�S Pro W3","Hiragino Kaku Gothic ProN","Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS","�l�r �o�S�V�b�N","MS PGothic",sans-serif
}

html.zh-CN body {
    font-family: Arial,Helvetica,sans-serif,Verdana,Droid Sans,Roboto,SimSun,Song,Arial,sans-serif
}

html.zh-HK body,html.zh-HK input[type=text],html.zh-HK input[type=email],html.zh-HK input[type=submit],html.zh-HK input[type=tel],html.zh-HK input[type=search],html.zh-HK input[type=password],html.zh-TW body,html.zh-TW input[type=text],html.zh-TW input[type=email],html.zh-TW input[type=submit],html.zh-TW input[type=tel],html.zh-TW input[type=search],html.zh-TW input[type=password] {
    font-family: Arial,Helvetica,sans-serif,Verdana,Droid Sans,Roboto,PMingLiU,"Apple LiSung",Arial,sans-serif
}

html.ko body,html.ko input[type=text],html.ko input[type=email],html.ko input[type=submit],html.ko input[type=tel],html.ko input[type=search],html.ko input[type=password] {
    font-family: Arial,Helvetica,sans-serif,Verdana,Droid Sans,Roboto,Gulim,"Apple Gothic",Arial,sans-serif
}

#wrapper {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5
}

@media (min-width: 0px) and (max-width:570px) {
    #wrapper {
        font-size:16px;
        font-size: 1.6rem;
        line-height: 1.5
    }
}

a:active,a:link,a:visited {
    color: #223f9a
}

a:hover {
    color: #0d246a
}

img[src*="http://aax-fe.amazon-adsystem.com"] {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}
